.navBarContainer {
  height: 60px;
  width: 100%;
  background-color: #1f4783;
  position: sticky;
  top: 0;
  z-index: 15;
  display: flex;
  align-items: center;
}

.logo {
  height: auto;
  max-width: 50px;
  margin: 5px 0 0 200px;
}

.title {
  font-size: 1.5rem;
  margin: 0 10px;
  color: #ffffff;
  font-weight: 800;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1.1rem;
  }
}
